body {
  /*background-color: #abedd8*/
  background-color: #E4F9F5;
  font-family:"Merriweather",serif;
  margin: 0;
  text-align:center;
}

h1 {
  font-family:"Sacramento",cursive;
  margin-top: 0;
}

h2 {
  font-family:"Montserrat",sans-serif;
}

h3 {
  font-family:"Montserrat",sans-serif;
}

.firm {
  background-color: #f73859;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 3px #888888;
  color: #e3fdfd;
  font-family:cursive;
  font-size: 20px;
  height: 33px;
  position:fixed;
  text-align: center;
  text-shadow: 2px 2px 4px #444f5a;
  width:170px
}

.top-container {
  position:relative;
  padding-top: 150px;
}
.bottom-cloud {
  position: absolute;
  left:300px;
  top:300px;
}

.top-cloud {
  position: relative;
  left: 250px;
}
